body {
background-image: url("equations.jpg");
    padding: 30px;
    margin: 50px;


}
.container {
background-color: rgba(232, 232, 232, 0.96);
    border-radius: 15px;
    border:10px solid #d3d0ca;
}
.col-xs-2 {
    border-radius: 15px;
}
